body,
p {
  margin: 0;
}

p {
  line-height: 20px;
}

.container-conteudo {
  width: 60vw;
  margin: 0 auto;
}

.cabecalho {
  width: 100%;
  height: 66px;
  background-color: #022656;
}

.image-logo {
  width: 150px;
  height: 47px;
  margin-top: 10px;
  margin-left: 158px;
}

.titulo {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.titulo p {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 24px;
}

.titulo p:nth-of-type(2) {
  margin-top: 20px;
}

.sub-titulo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
}

.sub-titulo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.sub-titulo p:nth-of-type(2) {
  margin-top: 5px;
}

.telefone {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 25px;
}

.telefone p {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
}

.telefone p:nth-of-type(2) {
  margin-top: 5px;
}

.primeiro-texto {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 25px;
}

.primeiro-texto p {
  font-family: Arial, Helvetica, sans-serif;
  width: 642px;
  color: #444444;
  font-size: 14px;
}

.dados {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.dados p {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  margin-top: 5px;
}
.segundo-texto {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 25px;
}

.segundo-texto p {
  font-family: Arial, Helvetica, sans-serif;
  width: 642px;

  color: #444444;
  font-size: 14px;
}

.dados-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
}

.dados-2 p {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  margin-top: 5px;
}

.dado-um {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
}

.dado-um p {
  font-family: Arial, Helvetica, sans-serif;
  width: 642px;
  text-align: justify;
  color: #444444;
  font-size: 14px;
  margin-top: 5px;
}

.dado-dois {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
  color: #444444;
}

.dado-dois p {
  font-family: Arial, Helvetica, sans-serif;
  width: 642px;
  text-align: justify;
  color: #444444;
  font-size: 14px;
  margin-top: 5px;
}

.dado-tres {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 5px;
  padding-bottom: 80px;
}

.dado-tres p {
  font-family: Arial, Helvetica, sans-serif;
  width: 642px;
  text-align: justify;
  color: #444444;
  font-size: 14px;
  margin-top: 5px;
}

.dado-tres p:last-of-type {
  font-weight: bold;
}

.rodape {
  height: 80px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 260px;
  align-items: center;
}

.rodape a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #022656;
  font-size: 14px;
}
